In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 310.8/310.8 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=2897a3da6f18af15dd676a53b75cfaf384f6883cd50419f74a67728326475268
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkConf, SparkContext
from datetime import datetime, date, timedelta
from dateutil import relativedelta
from pyspark.sql import SQLContext, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import DataFrame
from pyspark.sql.functions import *
from pyspark.sql.functions import to_timestamp, to_date
from pyspark.sql import functions as F
from pyspark.sql.functions import collect_list, collect_set, concat, first, array_distinct, col, size, expr
from pyspark.sql import DataFrame
import random
import pandas as pd
# --------------------------------------------------------------
spark = SparkSession\
        .builder\
        .getOrCreate()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

In [ ]:
!pip install emoji

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting emoji
  Downloading emoji-2.4.0.tar.gz (353 kB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 353.7/353.7 kB 30.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py) ... done
  Created wheel for emoji: filename=emoji-2.4.0-py2.py3-none-any.whl size=350809 sha256=1e0e3fee02d6dc2569baf991dfdd00edb699758b51d5be292ed16b2d3d9757fd
  Stored in directory: /root/.cache/pip/wheels/79/29/1c/234cae4632803c2ba4a76a71a679eb1383cf590775714e2a21
Successfully built emoji
Installing collected packages: emoji
Successfully installed emoji-2.4.0

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkConf, SparkContext
from datetime import datetime, date, timedelta
from dateutil import relativedelta
from pyspark.sql import SQLContext, Row
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import DataFrame
from pyspark.sql.functions import *
from pyspark.sql.functions import to_timestamp, to_date
from pyspark.sql import functions as F
from pyspark.sql.functions import collect_list, collect_set, concat, first, array_distinct, col, size, expr
import random
import pandas as pd
from pyspark.sql import SQLContext
from pyspark.sql.functions import monotonically_increasing_id
import pyspark.sql.functions as F
from pyspark.sql.functions import concat, col, lit, when, max
from pyspark.sql.window import Window
import matplotlib.pyplot as plt
import networkx as nx
import functools
import operator
import re
import emoji
from collections import Counter
from pyspark.ml.regression import LinearRegression
from pyspark.ml import Pipeline
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler, StringIndexer, OneHotEncoder

In [ ]:
filename = '/content/drive/MyDrive/BigData_HW4/cc.parquet'

cc = spark.read.parquet(filename)

cc.show()

+----+--------+----------------------+
|user|lifetime|clustering_coefficient|
+----+--------+----------------------+
|   2|       0|                   0.0|
|   2|       1|                   0.0|
|   2|       2|                   0.0|
|   2|       3|                   0.0|
|   2|       4|                   0.0|
|   2|       5|                   0.0|
|   2|       6|                   0.0|
|   2|       7|                   0.0|
|   2|       8|                   0.0|
|   2|       9|                   0.0|
|   2|      10|                   0.0|
|   2|      11|                   0.0|
|   2|      12|                   0.0|
|   3|       0|                   0.0|
|   3|       1|                   0.0|
|   3|       2|                   0.0|
|   3|       3|                   0.0|
|   3|       4|                   0.0|
|   3|       5|                   0.0|
|   3|       6|                   0.0|
+----+--------+----------------------+
only showing top 20 rows

In [ ]:
filename = '/content/drive/MyDrive/BigData_HW4/combined_df.csv'

combined_df = spark.read.csv(filename)

combined_df.show()

+-----+--------+----------------+--------------------+--------------------+-----------+--------------------+--------------------+----+--------------------+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+-----------------+-----------------+--------------+--------------------+--------------------+---------------+--------------------+--------------------+---------------+---------------+--------------------+--------------------+------+
|  _c0|     _c1|             _c2|                 _c3|                 _c4|        _c5|                 _c6|                 _c7| _c8|                 _c9|                _c10|               _c11|               _c12|                _c13|                _c14|                _c15|                _c16|                _c17|                _c18|                _c19|                _c20|               _c21|               _c22|             _c23|             _c24|          _c25|                _c26|                _c27|           _c28|                _c29|                _c30|           _c31|           _c32|                _c33|                _c34|  _c35|
+-----+--------+----------------+--------------------+--------------------+-----------+--------------------+--------------------+----+--------------------+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+-----------------+-----------------+--------------+--------------------+--------------------+---------------+--------------------+--------------------+---------------+---------------+--------------------+--------------------+------+
|user1|   user2|transaction_type|            datetime|         description|is_business|            story_id|             face_id| tag|attribute.gender....|attribute.gender....|attribute.age.range|attribute.age.value|attribute.pose.ya...|attribute.pose.pi...|attribute.pose.ro...|attribute.glass.c...|attribute.glass.v...|attribute.race.co...|attribute.race.value|attribute.smiling...|position.eye_left.y|position.eye_left.x|position.center.y|position.center.x|position.width|position.mouth_le...|position.mouth_le...|position.height|position.mouth_ri...|position.mouth_ri...|position.nose.y|position.nose.x|position.eye_right.y|position.eye_right.x|    id|
|   34|     907|         payment|2016-02-01T03:20:...|              üêÆüê∑ü¶É|      false|56ae5e9bcd03c9af2...|aab0823088b9007a2...|null|             99.9999|              Female|                  6|                 28|          -13.082242|             -5.0E-6|            -5.30979|             97.3584|                None|  52.743300000000005|               Asian|              48.874|            32.7592|            49.0927|             38.5|             57.5|          33.0|             47.7224|             51.0633|           33.0|             46.8155|             64.2695|        40.6925|        54.8488|             31.4063|             63.6495|  34.0|
|   34|  934623|         payment|2014-09-15T08:00:...|2nd place (350 - ...|      false|54163a4a7d0b0354e...|aab0823088b9007a2...|null|             99.9999|              Female|                  6|                 28|          -13.082242|             -5.0E-6|            -5.30979|             97.3584|                None|  52.743300000000005|               Asian|              48.874|            32.7592|            49.0927|             38.5|             57.5|          33.0|             47.7224|             51.0633|           33.0|             46.8155|             64.2695|        40.6925|        54.8488|             31.4063|             63.6495|  34.0|
|   34|    5114|          charge|2014-07-21T23:31:...|          Giwa sauce|      false|53cd40587d0b0354e...|aab0823088b9007a2...|null|             99.9999|              Female|                  6|                 28|          -13.082242|             -5.0E-6|            -5.30979|             97.3584|                None|  52.743300000000005|               Asian|              48.874|            32.7592|            49.0927|             38.5|             57.5|          33.0|             47.7224|             51.0633|           33.0|             46.8155|             64.2695|        40.6925|        54.8488|             31.4063|             63.6495|  34.0|
|   34|   35940|         payment|2014-10-24T02:16:...|             A bagel|      false|544954217d0b0354e...|aab0823088b9007a2...|null|             99.9999|              Female|                  6|                 28|          -13.082242|             -5.0E-6|            -5.30979|             97.3584|                None|  52.743300000000005|               Asian|              48.874|            32.7592|            49.0927|             38.5|             57.5|          33.0|             47.7224|             51.0633|           33.0|             46.8155|             64.2695|        40.6925|        54.8488|             31.4063|             63.6495|  34.0|
|  159|   85310|         payment|2012-07-16T01:06:...|                Beer|      false|500306a5c5b30a098...|ab7e1fe73de2d9d3e...|null|             99.9841|                Male|                  5|                 17|          -23.174595|              1.3E-5|             34.9404|             99.3992|                None|             78.8102|               White|             99.0293|             27.925|            67.8277|             35.0|             69.0|          24.0|             36.4674|             61.5767|           24.0|             40.2735|             70.2088|        34.5763|        66.8355|             33.7006|             76.0944| 159.0|
|  225|      52|         payment|2016-09-08T04:25:...|                 twc|      false|57d085cd23e064eac...|539717dda7fdc1301...|null|             94.3785|                Male|                  7|                 40|           -1.361873|              1.9E-5|            0.032427|             98.3534|                None|             99.9204|               White|             86.0631|            19.4532|            40.2829|             25.0|             45.0|          24.0|             27.9526|              39.347|           24.0|             28.0858|             49.8134|        26.9701|        43.8878|              19.458|             48.7656| 225.0|
|  275|      11|          charge|2015-03-06T13:55:...|                 Sex|      false|54f94159cd03c9af2...|f9ec4d41874bde0a4...|null|             99.5859|                Male|                  8|                 36|            -0.47481|           -0.471274|             5.50388|              97.346|                None|             42.2542|               White|             96.8099|            24.6114|           29.99975|             28.5|             33.0|          15.0|            30.83405|            28.60275|           15.0|            31.34025|             36.2409|        28.7136|       33.38275|             25.2426|            36.55035| 275.0|
|  275|12731459|         payment|2016-09-02T23:30:...|A romantic night ...|      false|57c9a92023e064eac...|f9ec4d41874bde0a4...|null|             99.5859|                Male|                  8|                 36|            -0.47481|           -0.471274|             5.50388|              97.346|                None|             42.2542|               White|             96.8099|            24.6114|           29.99975|             28.5|             33.0|          15.0|            30.83405|            28.60275|           15.0|            31.34025|             36.2409|        28.7136|       33.38275|             25.2426|            36.55035| 275.0|
|  275|   47146|         payment|2015-03-29T08:15:...|   For being a dick.|      false|5517523307f81c2a1...|f9ec4d41874bde0a4...|null|             99.5859|                Male|                  8|                 36|            -0.47481|           -0.471274|             5.50388|              97.346|                None|             42.2542|               White|             96.8099|            24.6114|           29.99975|             28.5|             33.0|          15.0|            30.83405|            28.60275|           15.0|            31.34025|             36.2409|        28.7136|       33.38275|             25.2426|            36.55035| 275.0|
|  312| 4040424|         payment|2016-02-13T09:33:...|         Babysitting|      false|56be8804cd03c9af2...|40d2320b52185b5e3...|null|              98.715|                Male|                 10|                 38|           -0.884955|              5.0E-6|            -2.89579|             99.2867|                None|   99.15129999999999|               White|             89.8722|            33.3471|            24.8513|             40.5|             32.5|          35.0|             49.7831|             25.8224|           35.0|             48.7075|             41.1229|        41.3017|        32.6651|             32.5111|             41.3782| 312.0|
| 1255|  649266|         payment|2015-09-28T19:40:...|London walking ar...|      false|56093520cd03c9af2...|b979c74cce34ddfec...|null|             99.9999|                Male|                  5|                 27|           -3.237628|              8.0E-6|            -2.32365|             99.8959|                None|             97.8748|               White|             98.5176|            42.8507|            33.7887|             53.0|             44.0|          46.0|             64.3201|             32.7657|           46.0|             62.5381|             56.7975|        56.4298|        43.0967|             42.0062|             54.6007|1255.0|
| 1255| 8470959|         payment|2016-03-02T02:47:...|Chocolate square ...|      false|56d5e3becd03c9af2...|b979c74cce34ddfec...|null|             99.9999|                Male|                  5|                 27|           -3.237628|              8.0E-6|            -2.32365|             99.8959|                None|             97.8748|               White|             98.5176|            42.8507|            33.7887|             53.0|             44.0|          46.0|             64.3201|             32.7657|           46.0|             62.5381|             56.7975|        56.4298|        43.0967|             42.0062|             54.6007|1255.0|
| 1255| 5935714|         payment|2015-12-18T01:58:...|  Chocolate extreme!|      false|5672f7aecd03c9af2...|b979c74cce34ddfec...|null|             99.9999|                Male|                  5|                 27|           -3.237628|              8.0E-6|            -2.32365|             99.8959|                None|             97.8748|               White|             98.5176|            42.8507|            33.7887|             53.0|             44.0|          46.0|             64.3201|             32.7657|           46.0|             62.5381|             56.7975|        56.4298|        43.0967|             42.0062|             54.6007|1255.0|
| 1508| 1002607|         payment|2014-10-02T01:18:...|One billion peopl...|      false|542c455e7d0b0354e...|f5b1ca730615b47b4...|null|             99.9048|                Male|                  6|                 29|           19.259108|              4.0E-5|            -12.5751|             91.6768|              Normal|   97.66550000000001|               White|             4.68842|             26.094|            43.8527|             35.0|             57.0|          42.0|             47.8766|             50.5114|           42.0|             41.8077|             66.2735|        35.0784|        56.6378|             22.0221|             62.1066|1508.0|
| 2033|     136|         payment|2013-09-27T09:02:...|            Sausages|      false|5244e739d56b6bac5...|a88eeaf0463fa7d84...|null|             99.9987|                Male|                  5|                 18|          -21.770293|            -3.42E-4|            -27.8828|             99.6695|                None|   98.87780000000001|               White|             41.3474|            27.2415|            47.3225|             31.0|             53.0|          24.0|             37.2672|             51.2001|           24.0|             36.3389|              58.691|        31.0678|        51.9779|             22.1568|             56.9328|2033.0|
| 2033|   66830|         payment|2015-10-31T03:09:...|           Uber eats|      false|5633ce73cd03c9af2...|a88eeaf0463fa7d84...|null|             99.9987|                Male|                  5|                 18|          -21.770293|            -3.42E-4|            -27.8828|             99.6695|                None|   98.87780000000001|               White|             41.3474|            27.2415|            47.3225|             31.0|             53.0|          24.0|             37.2672|             51.2001|           24.0|             36.3389|              58.691|        31.0678|        51.9779|             22.1568|             56.9328|2033.0|
| 2349| 1045738|         payment|2014-07-14T00:06:...|       Proper brunch|      false|53c2bcaf7d0b0354e...|03b25100beaa94b51...|null|             99.9858|              Female|                  5|                 11|           14.057914|             -9.1E-5|            0.673755|             99.6966|                None|              99.275|               Black|             87.5155|            27.5763|            36.8124|             33.0|             45.0|          24.0|             38.8991|             36.2391|           24.0|             39.7199|             50.1658|        34.8135|        43.1362|             27.7291|             49.8058|2349.0|
| 2349| 1045738|         payment|2014-07-14T00:06:...|       Proper brunch|      false|53c2bcaf7d0b0354e...|a7f9441f65241148e...|null|             99.9738|                Male|                  6|                 24|          -24.425313|              1.3E-5|            -5.46133|             99.8455|                None|             96.0643|               White|             2.56153|            35.8837|            56.3742|             41.5|             63.5|          27.0|             52.4909|             58.3486|           27.0|             51.8534|             69.5382|        44.3179|        58.4294|             34.6216|              69.575|2349.0|
| 2349|  792891|         payment|2014-06-10T21:02:...|                  üéø|      false|53970fe07d0b0354e...|03b25100beaa94b51...|null|             99.9858|              Female|                  5|                 11|           14.057914|             -9.1E-5|            0.673755|             99.6966|                None|              99.275|               Black|             87.5155|            27.5763|            36.8124|             33.0|             45.0|          24.0|             38.8991|             36.2391|           24.0|             39.7199|             50.1658|        34.8135|        43.1362|             27.7291|             49.8058|2349.0|
+-----+--------+----------------+--------------------+--------------------+-----------+--------------------+--------------------+----+--------------------+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+-------------------+-----------------+-----------------+--------------+--------------------+--------------------+---------------+--------------------+--------------------+---------------+---------------+--------------------+--------------------+------+
only showing top 20 rows

In [ ]:
filename = '/content/drive/MyDrive/BigData_HW4/cumm_friends.parquet'

cumm_friends = spark.read.parquet(filename)

cumm_friends.show()

+----+---------------+-------------+-----------+
|user|lifetime_marker|count_friends|cum_friends|
+----+---------------+-------------+-----------+
|   2|              0|            1|          1|
|   2|              1|            0|          1|
|   2|             10|            0|          1|
|   2|             11|            0|          1|
|   2|             12|            0|          1|
|   2|              2|            0|          1|
|   2|              3|            0|          1|
|   2|              4|            0|          1|
|   2|              5|            0|          1|
|   2|              6|            0|          1|
|   2|              7|            0|          1|
|   2|              8|            0|          1|
|   2|              9|            0|          1|
|   3|              0|            1|          1|
|   3|              1|            4|          5|
|   3|             10|            0|          5|
|   3|             11|            0|          5|
|   3|             12|            0|          5|
|   3|              2|            0|          5|
|   3|              3|            0|          5|
+----+---------------+-------------+-----------+
only showing top 20 rows

In [ ]:
filename = '/content/drive/MyDrive/BigData_HW4/dynamic_profile.parquet'

dynamic_profile = spark.read.parquet(filename)

dynamic_profile.show(5)

+-----+---------------+--------+----+-----+----+---------------+--------+------+-------------+------+-------+
|user1|lifetime_marker|activity|cash|event|food|illegal_sarcasm|no_class|people|trasportation|travel|utility|
+-----+---------------+--------+----+-----+----+---------------+--------+------+-------------+------+-------+
|    2|              0|     0.0| 0.0|  0.0| 0.0|            0.0|     0.0|   1.0|          0.0|   0.0|    0.0|
|    3|              0|     0.0| 0.0|  0.0| 0.0|            0.0|     0.0|   1.0|          0.0|   0.0|    0.0|
|    3|              1|     0.0| 0.0|  0.0| 0.2|            0.0|     0.2|   0.4|          0.0|   0.2|    0.0|
|    4|              0|     0.0| 0.0|  0.0| 1.0|            0.0|     0.0|   0.0|          0.0|   0.0|    0.0|
|    4|              1|     0.0| 0.0|  0.0| 0.0|            0.0|     0.0|   1.0|          0.0|   0.0|    0.0|
+-----+---------------+--------+----+-----+----+---------------+--------+------+-------------+------+-------+
only showing top 5 rows

In [ ]:
# Group by 'user1' and aggregate the columns
grouped_dynamic_df = dynamic_profile.groupBy('user1').agg(
    sum('activity').alias('total_activity'),
    sum('cash').alias('total_cash'),
    sum('event').alias('total_event'),
    sum('food').alias('total_food'),
    sum('illegal_sarcasm').alias('total_illegal_sarcasm'),
    sum('no_class').alias('total_no_class'),
    sum('people').alias('total_people'),
    sum('trasportation').alias('total_transportation'),
    sum('travel').alias('total_travel'),
    sum('utility').alias('total_utility')
)

# Show the resulting DataFrame
grouped_dynamic_df.show()

+-----+--------------+----------+-----------+----------+---------------------+--------------+------------+--------------------+------------+-------------+
|user1|total_activity|total_cash|total_event|total_food|total_illegal_sarcasm|total_no_class|total_people|total_transportation|total_travel|total_utility|
+-----+--------------+----------+-----------+----------+---------------------+--------------+------------+--------------------+------------+-------------+
| 2866|           1.0|       0.0|        0.0|       0.0|                  0.0|           0.0|         0.0|                 0.0|         0.0|          0.0|
|28170|           0.0|       0.0|        0.0|       0.0|                  0.0|           1.0|         0.0|                 0.0|         0.0|          0.0|
|28759|           0.0|       0.0|        0.0|       1.0|                  0.0|           0.0|         0.0|                 1.0|         0.0|          1.0|
|33602|           0.0|       0.0|        0.0|       1.0|                  0.0|           0.0|         1.0|                 0.0|         0.0|          0.0|
|36525|           0.0|       0.0|        0.0|       1.0|                  0.0|           0.0|         0.0|                 0.0|         0.0|          0.0|
|47283|           2.0|       0.0|        0.0|       0.0|                  0.0|           0.0|         0.0|                 0.0|         0.0|          0.0|
|51415|           1.0|       0.0|        0.0|       1.0|                  0.0|           0.0|         1.0|                 0.0|         0.0|          1.0|
|53963|           0.0|       0.0|        0.0|       0.0|                  0.0|           1.0|         0.0|                 0.0|         0.0|          0.0|
|63087|           0.0|       0.0|        0.0|       0.0|                  0.0|           1.0|         1.0|                 0.0|         0.0|          0.0|
|64423|           0.0|       0.0|        0.0|       0.0|                  0.0|           1.0|         0.0|                 0.0|         0.0|          0.0|
|65408|           0.0|       0.0|        0.0|       1.0|                  0.0|           0.0|         0.0|                 0.0|         0.0|          0.0|
|67492|           1.5|       0.0|        0.0|       1.5|                  0.0|           1.0|         2.0|                 0.0|         0.0|          0.0|
|67861|           0.0|       0.0|        0.0|       1.0|                  0.0|           0.0|         0.0|                 0.0|         0.0|          0.0|
|68202|           1.0|       0.0|        0.0|       0.0|                  0.0|           0.0|         0.0|                 0.0|         0.0|          0.0|
|71995|           0.0|       0.0|        0.0|       1.0|                  0.0|           0.0|         0.0|                 0.0|         0.0|          0.0|
|72758|           0.0|       0.0|        0.0|       1.0|                  0.0|           0.0|         0.0|                 0.0|         0.0|          0.0|
|74775|           0.0|       0.0|        0.0|       0.0|                  0.0|           1.0|         1.0|                 0.0|         0.0|          0.0|
|87616|           0.0|       0.0|        0.0|       1.0|                  0.0|           1.0|         1.0|                 0.0|         0.0|          0.0|
|91785|           0.0|       0.0|        0.0|       0.0|                  0.0|           1.0|         0.0|                 0.0|         0.0|          0.0|
|94851|           1.0|       0.0|        0.0|       0.0|                  0.0|           0.0|         0.0|                 0.0|         0.0|          0.0|
+-----+--------------+----------+-----------+----------+---------------------+--------------+------------+--------------------+------------+-------------+
only showing top 20 rows

In [ ]:
# Specify the output file path
output_path = "/content/drive/MyDrive/BigData_HW4/grouped_dynamic_df.parquet"

# Write the DataFrame to Parquet
grouped_dynamic_df.write.parquet(output_path,mode='overwrite')

In [ ]:
filename = '/content/drive/MyDrive/BigData_HW4/friends_friends.parquet'

friends_friends = spark.read.parquet(filename)

friends_friends.show(5)

+----+---------------+-----------------+
|user|lifetime_marker|assoc_assoc_count|
+----+---------------+-----------------+
|   2|              0|                0|
|   2|              1|                0|
|   2|              2|                0|
|   2|              3|                0|
|   2|              4|                0|
+----+---------------+-----------------+
only showing top 5 rows

In [ ]:
filename = '/content/drive/MyDrive/BigData_HW4/parquet_output/static_profile.parquet'

static_profile = spark.read.parquet(filename)

static_profile.show(5)

+-----+--------+----+-----+------+---------------+--------+------+-------------+------+-------+
|user1|activity|cash|event|  food|illegal_sarcasm|no_class|people|trasportation|travel|utility|
+-----+--------+----+-----+------+---------------+--------+------+-------------+------+-------+
|    2|    null|null| null|  null|           null|    null|100.0%|         null|  null|   null|
|    3|    null|null| null|16.67%|           null|  16.67%| 50.0%|         null|16.67%|   null|
|    4|    null|null| null| 20.0%|           null|   20.0%| 40.0%|         null| 20.0%|   null|
|   10|   10.0%|null| null| 60.0%|           null|    null| 30.0%|         null|  null|   null|
|   11|    null|null| null| 32.0%|           4.0%|   12.0%| 36.0%|         null|  8.0%|   8.0%|
+-----+--------+----+-----+------+---------------+--------+------+-------------+------+-------+
only showing top 5 rows

In [ ]:
filename = '/content/drive/MyDrive/BigData_HW4/social_network.parquet'

social_network = spark.read.parquet(filename)

social_network.show(5)

+----+---------------+-------------+-----------------+----------------------+
|user|lifetime_marker|count_friends|assoc_assoc_count|clustering_coefficient|
+----+---------------+-------------+-----------------+----------------------+
|   2|              0|            1|                0|                   0.0|
|   2|              1|            0|                0|                   0.0|
|   2|             10|            0|                0|                   0.0|
|   2|             11|            0|                0|                   0.0|
|   2|             12|            0|                0|                   0.0|
+----+---------------+-------------+-----------------+----------------------+
only showing top 5 rows

In [ ]:
# Group by 'user' and aggregate the columns
grouped_social_df = social_network.groupBy('user').agg(
    sum('count_friends').alias('total_count_friends'),
    sum('assoc_assoc_count').alias('total_friends_friends_count'),
    avg('clustering_coefficient').alias('avg_clustering_coefficient')
)

# Show the resulting DataFrame
grouped_social_df.show()

+-----+-------------------+---------------------------+--------------------------+
| user|total_count_friends|total_friends_friends_count|avg_clustering_coefficient|
+-----+-------------------+---------------------------+--------------------------+
| 2866|                  1|                          0|                       0.0|
| 4935|                  1|                          0|                       0.0|
|20735|                  1|                          0|                       0.0|
|28170|                  1|                          1|                       0.0|
|28759|                  3|                          1|                       0.0|
|33602|                  2|                          0|                       0.0|
|36525|                  1|                          0|                       0.0|
|47283|                  3|                          1|                       0.0|
|51415|                  4|                          0|                       0.0|
|53963|                  1|                          0|                       0.0|
|63087|                  2|                          1|                       0.0|
|64423|                  1|                          0|                       0.0|
|65220|                  1|                          0|                       0.0|
|65408|                  1|                          1|                       0.0|
|67492|                  6|                          2|                       0.0|
|67861|                  1|                          0|                       0.0|
|68202|                  1|                          0|                       0.0|
|71995|                  1|                          0|                       0.0|
|72758|                  1|                          0|                       0.0|
|74775|                  2|                          0|                       0.0|
+-----+-------------------+---------------------------+--------------------------+
only showing top 20 rows

In [ ]:
# Specify the output file path
output_path = "/content/drive/MyDrive/BigData_HW4/grouped_social_df.parquet"

# Write the DataFrame to Parquet
grouped_social_df.write.parquet(output_path,mode='overwrite')

In [ ]:
grouped_social_df.count()

# Print the row count
print("Row count:", grouped_social_df.count())

Row count: 15076

In [ ]:
filename = '/content/drive/MyDrive/BigData_HW4/spending_behavior.parquet'

spending_behavior = spark.read.parquet(filename)

spending_behavior.show(5)

+-----+---------------+-------------------+--------------------+-------+------+----+--------+-----+------+----+-------+-------------+---------------+--------+
|user1|lifetime_marker|          frequency|       cum_frequency|recency|people|food|activity|event|travel|cash|utility|trasportation|illegal_sarcasm|no_class|
+-----+---------------+-------------------+--------------------+-------+------+----+--------+-----+------+----+-------+-------------+---------------+--------+
|    2|              0|0.03333333333333333|0.001111111111111...|      0|   1.0| 0.0|     0.0|  0.0|   0.0| 0.0|    0.0|          0.0|            0.0|     0.0|
|    2|              1|                0.0|0.001111111111111...|     30|   0.0| 0.0|     0.0|  0.0|   0.0| 0.0|    0.0|          0.0|            0.0|     0.0|
|    2|              2|                0.0|5.555555555555556E-4|     60|   0.0| 0.0|     0.0|  0.0|   0.0| 0.0|    0.0|          0.0|            0.0|     0.0|
|    2|              3|                0.0|3.703703703703703...|     90|   0.0| 0.0|     0.0|  0.0|   0.0| 0.0|    0.0|          0.0|            0.0|     0.0|
|    2|              4|                0.0|2.777777777777778E-4|    120|   0.0| 0.0|     0.0|  0.0|   0.0| 0.0|    0.0|          0.0|            0.0|     0.0|
+-----+---------------+-------------------+--------------------+-------+------+----+--------+-----+------+----+-------+-------------+---------------+--------+
only showing top 5 rows

In [ ]:
# Group by 'user1' and aggregate the columns
grouped_spending_df = spending_behavior.groupBy('user1').agg(
    sum('frequency').alias('cumm_frequency'),
    avg('recency').alias('average_recency'),
    sum('people').alias('total_people'),
    sum('food').alias('total_food'),
    sum('activity').alias('total_activity'),
    sum('event').alias('total_event'),
    sum('travel').alias('total_travel'),
    sum('cash').alias('total_cash'),
    sum('utility').alias('total_utility'),
    sum('trasportation').alias('total_transportation'),
    sum('illegal_sarcasm').alias('total_illegal_sarcasm'),
    sum('no_class').alias('total_no_class')
)

# Show the resulting DataFrame
grouped_spending_df.show()

+-----+-------------------+------------------+------------+----------+--------------+-----------+------------+----------+-------------+--------------------+---------------------+--------------+
|user1|     cumm_frequency|   average_recency|total_people|total_food|total_activity|total_event|total_travel|total_cash|total_utility|total_transportation|total_illegal_sarcasm|total_no_class|
+-----+-------------------+------------------+------------+----------+--------------+-----------+------------+----------+-------------+--------------------+---------------------+--------------+
| 2866|0.03333333333333333|             180.0|         0.0|       0.0|           1.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|28170|0.03333333333333333|             180.0|         0.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
|28759|                0.1| 68.23076923076923|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          1.0|                 1.0|                  0.0|           0.0|
|33602|0.06666666666666667| 154.3846153846154|         1.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|36525|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|47283|0.06666666666666667|129.23076923076923|         0.0|       0.0|           2.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|51415|0.13333333333333333| 84.84615384615384|         1.0|       1.0|           1.0|        0.0|         0.0|       0.0|          1.0|                 0.0|                  0.0|           0.0|
|53963|0.03333333333333333|             180.0|         0.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
|63087|0.06666666666666667|116.07692307692308|         1.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
|64423|0.03333333333333333|             180.0|         0.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
|65408|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|67492|0.26666666666666666|              39.0|         2.0|       1.5|           1.5|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
|67861|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|68202|0.03333333333333333|             180.0|         0.0|       0.0|           1.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|71995|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|72758|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|74775|0.06666666666666667|153.76923076923077|         1.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
|87616|                0.1| 79.07692307692308|         1.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
|91785|0.03333333333333333|             180.0|         0.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
|94851|0.03333333333333333|             180.0|         0.0|       0.0|           1.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
+-----+-------------------+------------------+------------+----------+--------------+-----------+------------+----------+-------------+--------------------+---------------------+--------------+
only showing top 20 rows

In [ ]:
# Specify the output file path
output_path = "/content/drive/MyDrive/BigData_HW4/grouped_spending_df.parquet"

# Write the DataFrame to Parquet
grouped_spending_df.write.parquet(output_path,mode='overwrite')

---

In [ ]:
# Rename the column 'user' to 'user1'
grouped_social_df = grouped_social_df.withColumnRenamed('user', 'user1')

# Show the resulting DataFrame
grouped_social_df.show()

+-----+-------------------+---------------------------+--------------------------+
|user1|total_count_friends|total_friends_friends_count|avg_clustering_coefficient|
+-----+-------------------+---------------------------+--------------------------+
| 2866|                  1|                          0|                       0.0|
| 4935|                  1|                          0|                       0.0|
|20735|                  1|                          0|                       0.0|
|28170|                  1|                          1|                       0.0|
|28759|                  3|                          1|                       0.0|
|33602|                  2|                          0|                       0.0|
|36525|                  1|                          0|                       0.0|
|47283|                  3|                          1|                       0.0|
|51415|                  4|                          0|                       0.0|
|53963|                  1|                          0|                       0.0|
|63087|                  2|                          1|                       0.0|
|64423|                  1|                          0|                       0.0|
|65220|                  1|                          0|                       0.0|
|65408|                  1|                          1|                       0.0|
|67492|                  6|                          2|                       0.0|
|67861|                  1|                          0|                       0.0|
|68202|                  1|                          0|                       0.0|
|71995|                  1|                          0|                       0.0|
|72758|                  1|                          0|                       0.0|
|74775|                  2|                          0|                       0.0|
+-----+-------------------+---------------------------+--------------------------+
only showing top 20 rows

In [ ]:
# Perform an inner join on 'user1' column
social_trxn = grouped_social_df.join(grouped_spending_df, on='user1', how='inner')

# Show the resulting joined DataFrame
social_trxn.show()

+-----+-------------------+---------------------------+--------------------------+-------------------+------------------+------------+----------+--------------+-----------+------------+----------+-------------+--------------------+---------------------+--------------+
|user1|total_count_friends|total_friends_friends_count|avg_clustering_coefficient|     cumm_frequency|   average_recency|total_people|total_food|total_activity|total_event|total_travel|total_cash|total_utility|total_transportation|total_illegal_sarcasm|total_no_class|
+-----+-------------------+---------------------------+--------------------------+-------------------+------------------+------------+----------+--------------+-----------+------------+----------+-------------+--------------------+---------------------+--------------+
| 2866|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       0.0|           1.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|28170|                  1|                          1|                       0.0|0.03333333333333333|             180.0|         0.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
|28759|                  3|                          1|                       0.0|                0.1| 68.23076923076923|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          1.0|                 1.0|                  0.0|           0.0|
|33602|                  2|                          0|                       0.0|0.06666666666666667| 154.3846153846154|         1.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|36525|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|47283|                  3|                          1|                       0.0|0.06666666666666667|129.23076923076923|         0.0|       0.0|           2.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|51415|                  4|                          0|                       0.0|0.13333333333333333| 84.84615384615384|         1.0|       1.0|           1.0|        0.0|         0.0|       0.0|          1.0|                 0.0|                  0.0|           0.0|
|53963|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
|63087|                  2|                          1|                       0.0|0.06666666666666667|116.07692307692308|         1.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
|64423|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
|65408|                  1|                          1|                       0.0|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|67492|                  6|                          2|                       0.0|0.26666666666666666|              39.0|         2.0|       1.5|           1.5|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
|67861|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|68202|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       0.0|           1.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|71995|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|72758|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|74775|                  2|                          0|                       0.0|0.06666666666666667|153.76923076923077|         1.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
|87616|                  3|                          0|                       0.0|                0.1| 79.07692307692308|         1.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
|91785|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
|94851|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       0.0|           1.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
+-----+-------------------+---------------------------+--------------------------+-------------------+------------------+------------+----------+--------------+-----------+------------+----------+-------------+--------------------+---------------------+--------------+
only showing top 20 rows

In [ ]:
# Specify the output file path
output_path = "/content/drive/MyDrive/BigData_HW4/joined_df.parquet"

# Write the DataFrame to Parquet
social_trxn.write.parquet(output_path,mode='overwrite')

---

In [ ]:
spending_venmo = spark.read.parquet("/content/drive/MyDrive/BigData_HW4/spending_behavior_with_y.parquet")

In [ ]:
spending_venmo.createOrReplaceTempView("spending_venmo")

spending_venmo.show(2)

+-----+---------------+-------------------+--------------------+-------+------+----+--------+-----+------+----+-------+-------------+---------------+--------+---+
|user1|lifetime_marker|          frequency|       cum_frequency|recency|people|food|activity|event|travel|cash|utility|trasportation|illegal_sarcasm|no_class|  y|
+-----+---------------+-------------------+--------------------+-------+------+----+--------+-----+------+----+-------+-------------+---------------+--------+---+
|    2|              0|0.03333333333333333|0.001111111111111...|      0|   1.0| 0.0|     0.0|  0.0|   0.0| 0.0|    0.0|          0.0|            0.0|     0.0|  1|
|    2|              1|                0.0|0.001111111111111...|     30|   0.0| 0.0|     0.0|  0.0|   0.0| 0.0|    0.0|          0.0|            0.0|     0.0|  1|
+-----+---------------+-------------------+--------------------+-------+------+----+--------+-----+------+----+-------+-------------+---------------+--------+---+
only showing top 2 rows

In [ ]:
target_variable = spark.sql("""
    SELECT user1, y
    FROM spending_venmo
""")

target_variable.show()

+-----+---+
|user1|  y|
+-----+---+
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    3|  6|
|    3|  6|
|    3|  6|
|    3|  6|
|    3|  6|
|    3|  6|
|    3|  6|
+-----+---+
only showing top 20 rows

In [ ]:
target_variable = target_variable.dropDuplicates()

In [ ]:
# Count the number of rows
row_count = target_variable.count()

# Print the result
print("Total number of rows:", row_count)

Total number of rows: 6152

In [ ]:
# Count the number of rows
row_count = social_trxn.count()

# Print the result
print("Total number of rows:", row_count)

Total number of rows: 6152

In [ ]:
social_trxn.show(2)

+-----+-------------------+---------------------------+--------------------------+-------------------+---------------+------------+----------+--------------+-----------+------------+----------+-------------+--------------------+---------------------+--------------+
|user1|total_count_friends|total_friends_friends_count|avg_clustering_coefficient|     cumm_frequency|average_recency|total_people|total_food|total_activity|total_event|total_travel|total_cash|total_utility|total_transportation|total_illegal_sarcasm|total_no_class|
+-----+-------------------+---------------------------+--------------------------+-------------------+---------------+------------+----------+--------------+-----------+------------+----------+-------------+--------------------+---------------------+--------------+
| 2866|                  1|                          0|                       0.0|0.03333333333333333|          180.0|         0.0|       0.0|           1.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|
|28170|                  1|                          1|                       0.0|0.03333333333333333|          180.0|         0.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|
+-----+-------------------+---------------------------+--------------------------+-------------------+---------------+------------+----------+--------------+-----------+------------+----------+-------------+--------------------+---------------------+--------------+
only showing top 2 rows

In [ ]:
# Perform an inner join on 'user1' column
social_trxn_y = social_trxn.join(target_variable, on='user1', how='inner')

# Show the resulting joined DataFrame
social_trxn_y.show()

+-----+-------------------+---------------------------+--------------------------+-------------------+------------------+------------+----------+--------------+-----------+------------+----------+-------------+--------------------+---------------------+--------------+---+
|user1|total_count_friends|total_friends_friends_count|avg_clustering_coefficient|     cumm_frequency|   average_recency|total_people|total_food|total_activity|total_event|total_travel|total_cash|total_utility|total_transportation|total_illegal_sarcasm|total_no_class|  y|
+-----+-------------------+---------------------------+--------------------------+-------------------+------------------+------------+----------+--------------+-----------+------------+----------+-------------+--------------------+---------------------+--------------+---+
| 2866|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       0.0|           1.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|  1|
|28170|                  1|                          1|                       0.0|0.03333333333333333|             180.0|         0.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|  1|
|28759|                  3|                          1|                       0.0|                0.1| 68.23076923076923|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          1.0|                 1.0|                  0.0|           0.0|  3|
|33602|                  2|                          0|                       0.0|0.06666666666666667| 154.3846153846154|         1.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|  2|
|36525|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|  1|
|47283|                  3|                          1|                       0.0|0.06666666666666667|129.23076923076923|         0.0|       0.0|           2.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|  2|
|51415|                  4|                          0|                       0.0|0.13333333333333333| 84.84615384615384|         1.0|       1.0|           1.0|        0.0|         0.0|       0.0|          1.0|                 0.0|                  0.0|           0.0|  4|
|53963|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|  1|
|63087|                  2|                          1|                       0.0|0.06666666666666667|116.07692307692308|         1.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|  2|
|64423|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|  1|
|65408|                  1|                          1|                       0.0|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|  1|
|67492|                  6|                          2|                       0.0|0.26666666666666666|              39.0|         2.0|       1.5|           1.5|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|  8|
|67861|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|  1|
|68202|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       0.0|           1.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|  1|
|71995|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|  1|
|72758|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|  1|
|74775|                  2|                          0|                       0.0|0.06666666666666667|153.76923076923077|         1.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|  2|
|87616|                  3|                          0|                       0.0|                0.1| 79.07692307692308|         1.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|  3|
|91785|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|  1|
|94851|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       0.0|           1.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|  1|
+-----+-------------------+---------------------------+--------------------------+-------------------+------------------+------------+----------+--------------+-----------+------------+----------+-------------+--------------------+---------------------+--------------+---+
only showing top 20 rows

In [ ]:
social_trxn_y.columns

['user1',
 'total_count_friends',
 'total_friends_friends_count',
 'avg_clustering_coefficient',
 'cumm_frequency',
 'average_recency',
 'total_people',
 'total_food',
 'total_activity',
 'total_event',
 'total_travel',
 'total_cash',
 'total_utility',
 'total_transportation',
 'total_illegal_sarcasm',
 'total_no_class',
 'y']

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator

# Assuming you have the transformed DataFrame named 'transformed_data'

# Select the relevant columns as features and target variable
feature_columns = ['total_count_friends',
 'total_friends_friends_count',
 'avg_clustering_coefficient',
 'total_people',
 'total_food',
 'total_activity',
 'total_event',
 'total_travel',
 'total_cash',
 'total_utility',
 'total_transportation',
 'total_illegal_sarcasm',
 'total_no_class']
target_column = "y"

# Create a VectorAssembler to combine the feature columns into a single "features" column
assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")

In [ ]:
# Transform the data using the VectorAssembler
assembled_data = assembler.transform(social_trxn_y)

In [ ]:
# Split the data into train and test sets
train_data, test_data = assembled_data.randomSplit([0.7, 0.3], seed=123)

# Create a LinearRegression model
lr = LinearRegression(featuresCol="features", labelCol=target_column)

# Fit the model to the training data
lr_model = lr.fit(train_data)

# Make predictions on the test data
predictions = lr_model.transform(test_data)

# Evaluate the model's performance using a RegressionEvaluator
evaluator = RegressionEvaluator(labelCol=target_column, predictionCol="prediction", metricName="rmse")
rmse_all = evaluator.evaluate(predictions)

# Print the root mean squared error (RMSE)
print("(RMSE) for all data except.demo:", rmse_all)

(RMSE) for all data except.demo: 0.3864312907345662

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator


# Evaluate the model's performance using a RegressionEvaluator
evaluator = RegressionEvaluator(labelCol=target_column, predictionCol="prediction", metricName="r2")
r2 = evaluator.evaluate(predictions)

# Print the R-squared value
print("R-squared:", r2)

R-squared: 0.9456271859321465

-----

In [ ]:
df = spark.read.csv('/content/drive/MyDrive/BigData_HW4/combined_df.csv', header=True, inferSchema=True)

In [ ]:
df.show(2)

+-----+------+----------------+-------------------+--------------------+-----------+--------------------+--------------------+----+---------------------------+----------------------+-------------------+-------------------+------------------------------+--------------------------------+-------------------------------+--------------------------+---------------------+-------------------------+--------------------+-----------------------+-------------------+-------------------+-----------------+-----------------+--------------+---------------------+---------------------+---------------+----------------------+----------------------+---------------+---------------+--------------------+--------------------+----+
|user1| user2|transaction_type|           datetime|         description|is_business|            story_id|             face_id| tag|attribute.gender.confidence|attribute.gender.value|attribute.age.range|attribute.age.value|attribute.pose.yaw_angle.value|attribute.pose.pitch_angle.value|attribute.pose.roll_angle.value|attribute.glass.confidence|attribute.glass.value|attribute.race.confidence|attribute.race.value|attribute.smiling.value|position.eye_left.y|position.eye_left.x|position.center.y|position.center.x|position.width|position.mouth_left.y|position.mouth_left.x|position.height|position.mouth_right.y|position.mouth_right.x|position.nose.y|position.nose.x|position.eye_right.y|position.eye_right.x|  id|
+-----+------+----------------+-------------------+--------------------+-----------+--------------------+--------------------+----+---------------------------+----------------------+-------------------+-------------------+------------------------------+--------------------------------+-------------------------------+--------------------------+---------------------+-------------------------+--------------------+-----------------------+-------------------+-------------------+-----------------+-----------------+--------------+---------------------+---------------------+---------------+----------------------+----------------------+---------------+---------------+--------------------+--------------------+----+
|   34|   907|         payment|2016-02-01 03:20:59|              üêÆüê∑ü¶É|      false|56ae5e9bcd03c9af2...|aab0823088b9007a2...|null|                    99.9999|                Female|                  6|                 28|                    -13.082242|                         -5.0E-6|                       -5.30979|                   97.3584|                 None|       52.743300000000005|               Asian|                 48.874|            32.7592|            49.0927|             38.5|             57.5|          33.0|              47.7224|              51.0633|           33.0|               46.8155|               64.2695|        40.6925|        54.8488|             31.4063|             63.6495|34.0|
|   34|934623|         payment|2014-09-15 08:00:57|2nd place (350 - ...|      false|54163a4a7d0b0354e...|aab0823088b9007a2...|null|                    99.9999|                Female|                  6|                 28|                    -13.082242|                         -5.0E-6|                       -5.30979|                   97.3584|                 None|       52.743300000000005|               Asian|                 48.874|            32.7592|            49.0927|             38.5|             57.5|          33.0|              47.7224|              51.0633|           33.0|               46.8155|               64.2695|        40.6925|        54.8488|             31.4063|             63.6495|34.0|
+-----+------+----------------+-------------------+--------------------+-----------+--------------------+--------------------+----+---------------------------+----------------------+-------------------+-------------------+------------------------------+--------------------------------+-------------------------------+--------------------------+---------------------+-------------------------+--------------------+-----------------------+-------------------+-------------------+-----------------+-----------------+--------------+---------------------+---------------------+---------------+----------------------+----------------------+---------------+---------------+--------------------+--------------------+----+
only showing top 2 rows

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df.createOrReplaceTempView("df_temp")
demographic_venmo = spark.sql("""
    SELECT `attribute.gender.confidence`, `attribute.gender.value` AS gender,
           `attribute.age.value` AS age,
           `attribute.race.confidence`, `attribute.race.value` as race,
           user1
    FROM df_temp
""")

demographic_venmo.show()

+---------------------------+------+---+-------------------------+-----+-----+
|attribute.gender.confidence|gender|age|attribute.race.confidence| race|user1|
+---------------------------+------+---+-------------------------+-----+-----+
|                    99.9999|Female| 28|       52.743300000000005|Asian|   34|
|                    99.9999|Female| 28|       52.743300000000005|Asian|   34|
|                    99.9999|Female| 28|       52.743300000000005|Asian|   34|
|                    99.9999|Female| 28|       52.743300000000005|Asian|   34|
|                    99.9841|  Male| 17|                  78.8102|White|  159|
|                    94.3785|  Male| 40|                  99.9204|White|  225|
|                    99.5859|  Male| 36|                  42.2542|White|  275|
|                    99.5859|  Male| 36|                  42.2542|White|  275|
|                    99.5859|  Male| 36|                  42.2542|White|  275|
|                     98.715|  Male| 38|        99.15129999999999|White|  312|
|                    99.9999|  Male| 27|                  97.8748|White| 1255|
|                    99.9999|  Male| 27|                  97.8748|White| 1255|
|                    99.9999|  Male| 27|                  97.8748|White| 1255|
|                    99.9048|  Male| 29|        97.66550000000001|White| 1508|
|                    99.9987|  Male| 18|        98.87780000000001|White| 2033|
|                    99.9987|  Male| 18|        98.87780000000001|White| 2033|
|                    99.9858|Female| 11|                   99.275|Black| 2349|
|                    99.9738|  Male| 24|                  96.0643|White| 2349|
|                    99.9858|Female| 11|                   99.275|Black| 2349|
|                    99.9738|  Male| 24|                  96.0643|White| 2349|
+---------------------------+------+---+-------------------------+-----+-----+
only showing top 20 rows

In [ ]:
demographic_venmo = demographic_venmo.dropDuplicates()

In [ ]:
spending_venmo = spark.read.parquet("/content/drive/MyDrive/BigData_HW4/spending_behavior_with_y.parquet")

In [ ]:
spending_venmo.createOrReplaceTempView("spending_venmo")

spending_venmo.show(2)

+-----+---------------+-------------------+--------------------+-------+------+----+--------+-----+------+----+-------+-------------+---------------+--------+---+
|user1|lifetime_marker|          frequency|       cum_frequency|recency|people|food|activity|event|travel|cash|utility|trasportation|illegal_sarcasm|no_class|  y|
+-----+---------------+-------------------+--------------------+-------+------+----+--------+-----+------+----+-------+-------------+---------------+--------+---+
|    2|              0|0.03333333333333333|0.001111111111111...|      0|   1.0| 0.0|     0.0|  0.0|   0.0| 0.0|    0.0|          0.0|            0.0|     0.0|  1|
|    2|              1|                0.0|0.001111111111111...|     30|   0.0| 0.0|     0.0|  0.0|   0.0| 0.0|    0.0|          0.0|            0.0|     0.0|  1|
+-----+---------------+-------------------+--------------------+-------+------+----+--------+-----+------+----+-------+-------------+---------------+--------+---+
only showing top 2 rows

In [ ]:
target_variable = spark.sql("""
    SELECT user1, y
    FROM spending_venmo
""")

target_variable.show()

+-----+---+
|user1|  y|
+-----+---+
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    2|  1|
|    3|  6|
|    3|  6|
|    3|  6|
|    3|  6|
|    3|  6|
|    3|  6|
|    3|  6|
+-----+---+
only showing top 20 rows

In [ ]:
target_variable = target_variable.dropDuplicates()

In [ ]:
joined_2_df = demographic_venmo.join(target_variable, demographic_venmo.user1 == target_variable.user1, "left")

In [ ]:
joined_2_df.createOrReplaceTempView("behaviorial_with_y")

joined_2_df.show(2)

+---------------------------+------+---+-------------------------+-----+-----+-----+---+
|attribute.gender.confidence|gender|age|attribute.race.confidence| race|user1|user1|  y|
+---------------------------+------+---+-------------------------+-----+-----+-----+---+
|                    99.8796|  Male| 15|                  99.0758|White|41916|41916|  1|
|                    99.9933|  Male| 35|                  99.9917|White|77331|77331|  1|
+---------------------------+------+---+-------------------------+-----+-----+-----+---+
only showing top 2 rows

In [ ]:
# Group by "race" column and count occurrences
race_counts = joined_2_df.groupBy("race").count()

# Display the category counts
race_counts.show()

+-----+-----+
| race|count|
+-----+-----+
|White| 5773|
|Black|  193|
|Asian| 1194|
+-----+-----+

In [ ]:
# Group by "race" column and count occurrences
gender_counts = joined_2_df.groupBy("gender").count()

# Display the category counts
gender_counts.show()

+------+-----+
|gender|count|
+------+-----+
|Female| 3410|
|  Male| 3750|
+------+-----+

In [ ]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml import Pipeline

# Assuming you have already loaded the data into a PySpark DataFrame named 'data'

# Define the columns to be one-hot encoded
categorical_columns = ["race", "gender"]

# Create a list to store the stages of the pipeline
stages = []

# Iterate over the categorical columns and perform string indexing and one-hot encoding
for column in categorical_columns:
    # StringIndexer: Converts categorical values to numerical values
    indexer = StringIndexer(inputCol=column, outputCol=column + "_index")
    
    # OneHotEncoder: Performs one-hot encoding on the indexed values
    encoder = OneHotEncoder(inputCols=[indexer.getOutputCol()], outputCols=[column + "_encoded"])
    
    # Add the stages to the pipeline
    stages += [indexer, encoder]

# Create a pipeline with all the stages
pipeline = Pipeline(stages=stages)

# Fit the pipeline to the data
pipeline_model = pipeline.fit(joined_2_df)

# Transform the data using the pipeline
transformed_data = pipeline_model.transform(joined_2_df)

# Show the transformed data
transformed_data.show()

+---------------------------+------+---+-------------------------+-----+------+------+----+----------+-------------+------------+--------------+
|attribute.gender.confidence|gender|age|attribute.race.confidence| race| user1| user1|   y|race_index| race_encoded|gender_index|gender_encoded|
+---------------------------+------+---+-------------------------+-----+------+------+----+----------+-------------+------------+--------------+
|                    99.8796|  Male| 15|                  99.0758|White| 41916| 41916|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9933|  Male| 35|                  99.9917|White| 77331| 77331|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9606|Female| 30|        98.40339999999999|White|103096|103096|   6|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9941|  Male| 25|                  98.3757|Asian|112164|112164|   3|       1.0|(2,[1],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9999|Female| 19|                  56.9226|White|114184|114184|   2|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9767|Female| 10|                  99.9829|White|118071|  null|null|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9976|Female| 25|                  84.3704|Asian|120472|120472|   2|       1.0|(2,[1],[1.0])|         1.0|     (1,[],[])|
|                    99.1552|Female| 28|                  99.0188|White|  6340|  6340|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9999|Female| 18|                   99.846|Asian| 78390| 78390|   4|       1.0|(2,[1],[1.0])|         1.0|     (1,[],[])|
|                    99.9753|  Male| 31|       48.574400000000004|White|116679|116679|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9999|Female| 34|                  99.9626|White|118682|118682|   3|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9923|Female| 28|                  99.0825|Asian| 52429| 52429|   1|       1.0|(2,[1],[1.0])|         1.0|     (1,[],[])|
|                     99.998|Female| 22|                  95.6384|White| 63511| 63511|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                     99.937|Female| 23|                  99.6302|White| 73878| 73878|   2|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                     99.962|  Male| 24|        96.66130000000001|Asian| 88181| 88181|   1|       1.0|(2,[1],[1.0])|         0.0| (1,[0],[1.0])|
|                    98.5273|  Male| 36|                  83.8753|Asian| 36648| 36648|   1|       1.0|(2,[1],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9589|  Male| 33|                  99.9191|Black| 50127| 50127|   1|       2.0|    (2,[],[])|         0.0| (1,[0],[1.0])|
|                    99.7667|  Male| 37|                  99.6625|White|  5359|  5359|   4|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                     98.236|  Male| 21|                  99.7329|White| 25306| 25306|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    53.7713|Female| 36|                  99.8086|White| 33764| 33764|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
+---------------------------+------+---+-------------------------+-----+------+------+----+----------+-------------+------------+--------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import TrainValidationSplit

In [ ]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml import Pipeline

# Assuming you have already loaded the data into a PySpark DataFrame named 'data'

# Define the columns to be one-hot encoded
categorical_columns = ["race", "gender"]

# Create a list to store the stages of the pipeline
stages = []

# Iterate over the categorical columns and perform string indexing and one-hot encoding
for column in categorical_columns:
    # StringIndexer: Converts categorical values to numerical values
    indexer = StringIndexer(inputCol=column, outputCol=column + "_index")
    
    # OneHotEncoder: Performs one-hot encoding on the indexed values
    encoder = OneHotEncoder(inputCols=[indexer.getOutputCol()], outputCols=[column + "_encoded"])
    
    # Add the stages to the pipeline
    stages += [indexer, encoder]

# Create a pipeline with all the stages
pipeline = Pipeline(stages=stages)

# Fit the pipeline to the data
pipeline_model = pipeline.fit(joined_2_df)

# Transform the data using the pipeline
transformed_data = pipeline_model.transform(joined_2_df)

# Show the transformed data
transformed_data.show()

+---------------------------+------+---+-------------------------+-----+------+------+----+----------+-------------+------------+--------------+
|attribute.gender.confidence|gender|age|attribute.race.confidence| race| user1| user1|   y|race_index| race_encoded|gender_index|gender_encoded|
+---------------------------+------+---+-------------------------+-----+------+------+----+----------+-------------+------------+--------------+
|                    99.8796|  Male| 15|                  99.0758|White| 41916| 41916|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9933|  Male| 35|                  99.9917|White| 77331| 77331|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9606|Female| 30|        98.40339999999999|White|103096|103096|   6|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9941|  Male| 25|                  98.3757|Asian|112164|112164|   3|       1.0|(2,[1],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9999|Female| 19|                  56.9226|White|114184|114184|   2|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9767|Female| 10|                  99.9829|White|118071|  null|null|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9976|Female| 25|                  84.3704|Asian|120472|120472|   2|       1.0|(2,[1],[1.0])|         1.0|     (1,[],[])|
|                    99.1552|Female| 28|                  99.0188|White|  6340|  6340|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9999|Female| 18|                   99.846|Asian| 78390| 78390|   4|       1.0|(2,[1],[1.0])|         1.0|     (1,[],[])|
|                    99.9753|  Male| 31|       48.574400000000004|White|116679|116679|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9999|Female| 34|                  99.9626|White|118682|118682|   3|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9923|Female| 28|                  99.0825|Asian| 52429| 52429|   1|       1.0|(2,[1],[1.0])|         1.0|     (1,[],[])|
|                     99.998|Female| 22|                  95.6384|White| 63511| 63511|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                     99.937|Female| 23|                  99.6302|White| 73878| 73878|   2|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                     99.962|  Male| 24|        96.66130000000001|Asian| 88181| 88181|   1|       1.0|(2,[1],[1.0])|         0.0| (1,[0],[1.0])|
|                    98.5273|  Male| 36|                  83.8753|Asian| 36648| 36648|   1|       1.0|(2,[1],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9589|  Male| 33|                  99.9191|Black| 50127| 50127|   1|       2.0|    (2,[],[])|         0.0| (1,[0],[1.0])|
|                    99.7667|  Male| 37|                  99.6625|White|  5359|  5359|   4|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                     98.236|  Male| 21|                  99.7329|White| 25306| 25306|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    53.7713|Female| 36|                  99.8086|White| 33764| 33764|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
+---------------------------+------+---+-------------------------+-----+------+------+----+----------+-------------+------------+--------------+
only showing top 20 rows

In [ ]:
# Drop the 'gender' and 'race' columns
transformed_data = transformed_data.drop("gender", "race")

# Show the updated DataFrame
transformed_data.show()

+---------------------------+---+-------------------------+------+------+----+----------+-------------+------------+--------------+
|attribute.gender.confidence|age|attribute.race.confidence| user1| user1|   y|race_index| race_encoded|gender_index|gender_encoded|
+---------------------------+---+-------------------------+------+------+----+----------+-------------+------------+--------------+
|                    99.8796| 15|                  99.0758| 41916| 41916|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9933| 35|                  99.9917| 77331| 77331|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9606| 30|        98.40339999999999|103096|103096|   6|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9941| 25|                  98.3757|112164|112164|   3|       1.0|(2,[1],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9999| 19|                  56.9226|114184|114184|   2|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9767| 10|                  99.9829|118071|  null|null|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9976| 25|                  84.3704|120472|120472|   2|       1.0|(2,[1],[1.0])|         1.0|     (1,[],[])|
|                    99.1552| 28|                  99.0188|  6340|  6340|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9999| 18|                   99.846| 78390| 78390|   4|       1.0|(2,[1],[1.0])|         1.0|     (1,[],[])|
|                    99.9753| 31|       48.574400000000004|116679|116679|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9999| 34|                  99.9626|118682|118682|   3|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9923| 28|                  99.0825| 52429| 52429|   1|       1.0|(2,[1],[1.0])|         1.0|     (1,[],[])|
|                     99.998| 22|                  95.6384| 63511| 63511|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                     99.937| 23|                  99.6302| 73878| 73878|   2|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                     99.962| 24|        96.66130000000001| 88181| 88181|   1|       1.0|(2,[1],[1.0])|         0.0| (1,[0],[1.0])|
|                    98.5273| 36|                  83.8753| 36648| 36648|   1|       1.0|(2,[1],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9589| 33|                  99.9191| 50127| 50127|   1|       2.0|    (2,[],[])|         0.0| (1,[0],[1.0])|
|                    99.7667| 37|                  99.6625|  5359|  5359|   4|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                     98.236| 21|                  99.7329| 25306| 25306|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    53.7713| 36|                  99.8086| 33764| 33764|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
+---------------------------+---+-------------------------+------+------+----+----------+-------------+------------+--------------+
only showing top 20 rows

In [ ]:
transformed_data=transformed_data.dropDuplicates()

In [ ]:
# Assuming you have the DataFrame named 'transformed_data'

# Rename the column
transformed_data = transformed_data.withColumnRenamed("attribute.gender.confidence", "attribute_gender_confidence")

# Show the updated DataFrame
transformed_data.show()

+---------------------------+---+-------------------------+------+------+----+----------+-------------+------------+--------------+
|attribute_gender_confidence|age|attribute.race.confidence| user1| user1|   y|race_index| race_encoded|gender_index|gender_encoded|
+---------------------------+---+-------------------------+------+------+----+----------+-------------+------------+--------------+
|                    99.9767| 10|                  99.9829|118071|  null|null|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9998| 13|        84.53880000000001| 92105| 92105|   1|       1.0|(2,[1],[1.0])|         1.0|     (1,[],[])|
|                     98.344| 18|                  99.7662| 77536| 77536|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9841| 17|                  78.8102|   159|   159|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.8987| 28|                  72.4708| 44592| 44592|   1|       1.0|(2,[1],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9999| 12|                  99.9532|118431|118431|   3|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.8565|  7|                   99.553|106430|106430|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.0793| 11|                  99.4175| 55744| 55744|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9988| 27|                  99.9953| 34228|  null|null|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    94.7539| 31|                  86.5532| 48998| 48998|   3|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    61.9465| 29|                  96.3665| 74529| 74529|   2|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.2165| 28|        99.80550000000001| 77445| 77445|   2|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9999| 24|                  90.9551| 70094| 70094|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                     99.788| 15|                  97.5905|115197|115197|   5|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    73.7607| 28|       43.269800000000004|121017|121017|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    98.5685| 32|                  99.2723|115216|115216|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.2257| 15|        93.15299999999999| 84160| 84160|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9999| 13|                  98.6996|119213|119213|   2|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9397| 18|                   99.064|116348|116348|   3|       1.0|(2,[1],[1.0])|         1.0|     (1,[],[])|
|                    93.0339| 15|        99.99719999999999|119001|119001|   3|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
+---------------------------+---+-------------------------+------+------+----+----------+-------------+------------+--------------+
only showing top 20 rows

In [ ]:
# Assuming you have the DataFrame named 'transformed_data'

# Rename the column
transformed_data = transformed_data.withColumnRenamed("attribute.race.confidence", "attribute_race_confidence")

# Show the updated DataFrame
transformed_data.show()

+---------------------------+---+-------------------------+------+------+----+----------+-------------+------------+--------------+
|attribute_gender_confidence|age|attribute_race_confidence| user1| user1|   y|race_index| race_encoded|gender_index|gender_encoded|
+---------------------------+---+-------------------------+------+------+----+----------+-------------+------------+--------------+
|                    99.9767| 10|                  99.9829|118071|  null|null|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9998| 13|        84.53880000000001| 92105| 92105|   1|       1.0|(2,[1],[1.0])|         1.0|     (1,[],[])|
|                     98.344| 18|                  99.7662| 77536| 77536|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9841| 17|                  78.8102|   159|   159|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.8987| 28|                  72.4708| 44592| 44592|   1|       1.0|(2,[1],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9999| 12|                  99.9532|118431|118431|   3|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.8565|  7|                   99.553|106430|106430|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.0793| 11|                  99.4175| 55744| 55744|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9988| 27|                  99.9953| 34228|  null|null|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    94.7539| 31|                  86.5532| 48998| 48998|   3|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    61.9465| 29|                  96.3665| 74529| 74529|   2|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.2165| 28|        99.80550000000001| 77445| 77445|   2|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    99.9999| 24|                  90.9551| 70094| 70094|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                     99.788| 15|                  97.5905|115197|115197|   5|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    73.7607| 28|       43.269800000000004|121017|121017|   1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|                    98.5685| 32|                  99.2723|115216|115216|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.2257| 15|        93.15299999999999| 84160| 84160|   1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9999| 13|                  98.6996|119213|119213|   2|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|                    99.9397| 18|                   99.064|116348|116348|   3|       1.0|(2,[1],[1.0])|         1.0|     (1,[],[])|
|                    93.0339| 15|        99.99719999999999|119001|119001|   3|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
+---------------------------+---+-------------------------+------+------+----+----------+-------------+------------+--------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import isnan, isnull

# Check for null or NaN values in the target column
null_count = transformed_data.filter(isnull("y") | isnan("y")).count()

null_count

467

In [ ]:
# If there are null or NaN values, drop those rows
if null_count > 0:
    transformed_data = transformed_data.dropna(subset=["y"])

In [ ]:
# Perform an inner join on 'user1' column
joined_with_demog = social_trxn.join(transformed_data, on='user1', how='inner')

# Show the resulting joined DataFrame
joined_with_demog.show()

+------+-------------------+---------------------------+--------------------------+-------------------+------------------+------------+----------+--------------+-----------+------------+----------+-------------+--------------------+---------------------+--------------+---------------------------+---+-------------------------+------+---+----------+-------------+------------+--------------+
| user1|total_count_friends|total_friends_friends_count|avg_clustering_coefficient|     cumm_frequency|   average_recency|total_people|total_food|total_activity|total_event|total_travel|total_cash|total_utility|total_transportation|total_illegal_sarcasm|total_no_class|attribute_gender_confidence|age|attribute_race_confidence| user1|  y|race_index| race_encoded|gender_index|gender_encoded|
+------+-------------------+---------------------------+--------------------------+-------------------+------------------+------------+----------+--------------+-----------+------------+----------+-------------+--------------------+---------------------+--------------+---------------------------+---+-------------------------+------+---+----------+-------------+------------+--------------+
| 92105|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         1.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|                    99.9998| 13|        84.53880000000001| 92105|  1|       1.0|(2,[1],[1.0])|         1.0|     (1,[],[])|
| 77536|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|                     98.344| 18|                  99.7662| 77536|  1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|   159|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|                    99.9841| 17|                  78.8102|   159|  1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
| 44592|                  2|                          1|                       0.0|0.03333333333333333|             180.0|         0.0|       0.0|           1.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|                    99.8987| 28|                  72.4708| 44592|  1|       1.0|(2,[1],[1.0])|         0.0| (1,[0],[1.0])|
|118431|                  3|                          0|                       0.0|                0.1| 71.46153846153847|         0.0|       0.0|           0.0|        0.0|         0.0|       0.0|          1.0|                 0.0|                  0.0|           2.0|                    99.9999| 12|                  99.9532|118431|  3|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|106430|                  1|                          2|                       0.0|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|                    99.8565|  7|                   99.553|106430|  1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
| 55744|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         1.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|                    99.0793| 11|                  99.4175| 55744|  1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
| 48998|                  3|                          2|                       0.0|                0.1|  91.6923076923077|         1.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|                    94.7539| 31|                  86.5532| 48998|  3|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
| 74529|                  2|                          0|                       0.0|0.06666666666666667| 85.76923076923077|         0.0|       2.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|                    61.9465| 29|                  96.3665| 74529|  2|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
| 77445|                  3|                          2|                       0.0|0.06666666666666667|178.15384615384616|         1.0|       0.0|           0.0|        0.0|         0.0|       0.0|          1.0|                 0.0|                  0.0|           0.0|                    99.2165| 28|        99.80550000000001| 77445|  2|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
| 70094|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|                    99.9999| 24|                  90.9551| 70094|  1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|115197|                  5|                          0|                       0.0|0.16666666666666666| 44.92307692307692|         0.0|       0.0|           0.0|        0.0|         1.0|       0.0|          0.0|                 0.0|                  2.0|           2.0|                     99.788| 15|                  97.5905|115197|  5|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|121017|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         1.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|                    73.7607| 28|       43.269800000000004|121017|  1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
|115216|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         1.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|                    98.5685| 32|                  99.2723|115216|  1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
| 84160|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|                    99.2257| 15|        93.15299999999999| 84160|  1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|119213|                  2|                          1|                       0.0|0.06666666666666667| 90.92307692307692|         0.0|       0.0|           1.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  1.0|           0.0|                    99.9999| 13|                  98.6996|119213|  2|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
|116348|                  3|                          0|                       0.0|                0.1| 96.07692307692308|         0.0|       2.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           1.0|                    99.9397| 18|                   99.064|116348|  3|       1.0|(2,[1],[1.0])|         1.0|     (1,[],[])|
|119001|                  3|                          0|                       0.0|                0.1|106.76923076923077|         1.0|       1.0|           0.0|        1.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|                    93.0339| 15|        99.99719999999999|119001|  3|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
| 94635|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         1.0|       0.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|                    99.3083| 35|                  99.7652| 94635|  1|       0.0|(2,[0],[1.0])|         0.0| (1,[0],[1.0])|
| 54681|                  1|                          0|                       0.0|0.03333333333333333|             180.0|         0.0|       1.0|           0.0|        0.0|         0.0|       0.0|          0.0|                 0.0|                  0.0|           0.0|                    99.9521| 24|                  99.9615| 54681|  1|       0.0|(2,[0],[1.0])|         1.0|     (1,[],[])|
+------+-------------------+---------------------------+--------------------------+-------------------+------------------+------------+----------+--------------+-----------+------------+----------+-------------+--------------------+---------------------+--------------+---------------------------+---+-------------------------+------+---+----------+-------------+------------+--------------+
only showing top 20 rows

In [ ]:
joined_with_demog.columns

['user1',
 'total_count_friends',
 'total_friends_friends_count',
 'avg_clustering_coefficient',
 'cumm_frequency',
 'average_recency',
 'total_people',
 'total_food',
 'total_activity',
 'total_event',
 'total_travel',
 'total_cash',
 'total_utility',
 'total_transportation',
 'total_illegal_sarcasm',
 'total_no_class',
 'attribute_gender_confidence',
 'age',
 'attribute_race_confidence',
 'user1',
 'y',
 'race_index',
 'race_encoded',
 'gender_index',
 'gender_encoded']

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator

# Assuming you have the transformed DataFrame named 'transformed_data'

# Select the relevant columns as features and target variable
feature_columns = ['total_count_friends',
 'total_friends_friends_count',
 'avg_clustering_coefficient'
 ]
target_column = "y"

# Create a VectorAssembler to combine the feature columns into a single "features" column
assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")

In [ ]:
# Transform the data using the VectorAssembler
assembled_data = assembler.transform(joined_with_demog)

In [ ]:
# Split the data into train and test sets
train_data, test_data = assembled_data.randomSplit([0.7, 0.3], seed=123)

# Create a LinearRegression model
lr = LinearRegression(featuresCol="features", labelCol=target_column)

# Fit the model to the training data
lr_model = lr.fit(train_data)

# Make predictions on the test data
predictions = lr_model.transform(test_data)

# Evaluate the model's performance using a RegressionEvaluator
evaluator = RegressionEvaluator(labelCol=target_column, predictionCol="prediction", metricName="rmse")
rmse_all_demog = evaluator.evaluate(predictions)

# Print the root mean squared error (RMSE)
print("(RMSE) for only demographic data:", rmse_all_demog)

(RMSE) for only demographic data: 0.6552247612411186

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator

# ...

# Evaluate the model's performance using a RegressionEvaluator
evaluator = RegressionEvaluator(labelCol=target_column, predictionCol="prediction", metricName="r2")
r2 = evaluator.evaluate(predictions)

# Print the R-squared value
print("R-squared:", r2)

R-squared: 0.8644513785331445

In [ ]:

# Print the root mean squared error (RMSE)
print("(RMSE) for all + demographic data:", rmse_all_demog)


# Print the root mean squared error (RMSE)
print("(RMSE) for all:", rmse_all)

(RMSE) for all + demographic data: 8.413787430082238e-08
(RMSE) for all: 1.087189788301661e-12